<div class="relative">
  <%= image_tag "/shared/images/background_cropped.jpg", class: "w-full" %>
  <div class="absolute inset-0 bg-black opacity-70"></div>
  <h1 class="opacity-90 absolute text-5xl text-orange-600 p-8 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ">Lionheart Leatherwork</h1>
  <h2 class="opacity-90 absolute text-3xl text-orange-600 left-1/2 top-3/4 -translate-x-1/2 link hover:text-orange-500 "> <%= link_to "About us", about_path %> </h2>
</div>