<h1 class="flex justify-center text-4xl mt-4">
  <%= @category.name %>
  <%= link_to 'Create New Product', new_admin_product_path, class: "link text-blue-500" %>
</h1>
<% @products.each do |product| %>
  <h2 class="card-title"> <%= product.name %> </h2>
  <p> <%= product.description %> </p>
<% end %>
